<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <label for="username">Enter name of new user: </label>
  <input type="text" th:field="*{username}" id="username">
    <br/>
    <label for="password">Enter new user's password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label>Choose the role of new user:
    <input type="checkbox" name="roles" th:each="role: ${roles}" th:value="${role.getId()}" th:text="${role.getName()}" th:field="*{roles}">
    </label>
  <br>
  <input type="submit" value="Add new user"/>
</form>
<br>
<form th:action="@{/logout}">
  <input type="submit" value="Logout">
</form>
</body>
</html>