<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}">Id</td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}" th:text="${user.getUsername()}"></a></td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.email}">Email</td>
        <td>
            <ul th:each="role: ${user.getRoles()}" th:text="${role.getName()}">Role</ul>
        </td>
    </tr>
    </tbody>
</table>
<br>
<hr/>
<form th:action="@{/admin/new}">
    <input type="submit" value="Add new user">
</form>
<br>
<form th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>